# Ignore everything except Unity project folder
/*
!/XR-Ad_block/
!/AI-core/

# --- Unity ignores inside subfolder ---
AI-core/runs/
AI-core/.DS_Store
XR-Ad_block/[Ll]ibrary/
XR-Ad_block/[Tt]emp/
XR-Ad_block/[Oo]bj/
XR-Ad_block/[Bb]uild/
XR-Ad_block/[Bb]uilds/
XR-Ad_block/[Ll]ogs/
XR-Ad_block/[Uu]ser[Ss]ettings/
XR-Ad_block/.DS_Store
*.json
*.csproj
*.csproj
